{% extends 'base.html' %}
{% block title %}Miqueas & Gaby{% endblock %}

{% block content %}
<main class="contenido-principal fondo-portada">

    {% if session.get('logueado') %}
        <div class="mensaje-login">✨ ¡Bienvenido Amor ! ✨</div>
    {% endif %}

    <div class="botonera">
        <div class="boton-con-imagen">
            <img src="{{ url_for('static', filename='img/boton1.jpg') }}" alt="boton1">
            <a href="{{ url_for('carta') }}">💌 Lo que quiero que sepas</a>
        </div>
        <div class="boton-con-imagen">
            <img src="{{ url_for('static', filename='img/boton2.jpg') }}" alt="boton2">
            <a href="{{ url_for('notas') }}">📝 Ver Notitas</a>
        </div>
        <div class="boton-con-imagen">
            <img src="{{ url_for('static', filename='img/boton3.jpg') }}" alt="boton3">
            <a href="{{ url_for('canciones') }}">🎵 Canciones con video</a>
        </div>
        <div class="boton-con-imagen">
            <img src="{{ url_for('static', filename='img/boton4.jpg') }}" alt="boton4">
            <a href="{{ url_for('galeria') }}">📸 Nuestras fotos</a>
        </div>
    </div>

    <div style="height: 1px;"></div> <!-- Anti-salto visual -->
</main>

{% if session.get('logueado') %}
    <a href="{{ url_for('logout') }}" class="boton-login-separado boton-estilo">
        <i class="fas fa-sign-out-alt"></i> Cerrar sesión
    </a>
{% endif %}

{% if not session.get('logueado') %}
    <div class="login-boton-individual">
        <a href="{{ url_for('login') }}">
            <img src="{{ url_for('static', filename='img/boton5.jpg') }}" alt="Iniciar sesión">
        </a>
    </div>
{% endif %}
{% endblock %}
